/ {
	aliases {
		hito-lcd = &spi4;
    hito-ctp = &i2c1;
	};

  zephyr,user {

    io-channels = <&adc 0x00>;
    
    // Dev board
    lcd-dcx-pin   = <0x28>; // P1.08
    lcd-reset-pin = <21>; // P0.21
    lcd-power-pin = <0x26>; // P1.06
    lcd-led-pin   = <16>; // P0.16
    lcd-cs-pin    = <19>; // P0.19

    ctp-power-pin     = <0x2A>; // P1.10
    ctp-int-pin       = <27>;   // P0.27
    ctp-reset-pin     = <26>;   // P0.26

    nand-cs-pin       = <41>; // P1.09
    nand-miso-pin     = <10>; // P0.10
    nand-hold-pin     = <12>; // P0.12

    led-red-pin       = <28>; // P0.28, LED1 on nRF DK
    led-green-pin     = <29>; // P0.29, LED2 on nRF DK
    led-blue-pin      = <30>; // P0.30, LED3 on nRF DK

    led-debug-pin     = <31>; // P0.31, LED4 on nRF DK
    devboard-pin      = <3>;  // P0.03, connected to VDD on nRF DK

    charge-pin        = <9>; // P0.09, Button4 on nRF DK
    
    button-pin        = <23>; // P0.23, Button1 on nRF DK

    watchdog-sec      = <30>;
    dev-board         = <1>;

    
    /*
    // Device
    lcd-dcx-pin   = <0x28>; // P1.08
    lcd-reset-pin = <21>; // P0.21 n.c.
    lcd-power-pin = <0x26>; // P1.06
    lcd-led-pin   = <16>; // P0.16
    lcd-cs-pin    = <19>; // P0.19

    ctp-power-pin     = <0x2A>; // P1.10
    ctp-int-pin       = <27>;   // P0.27
    ctp-reset-pin     = <26>;   // P0.26

    nand-cs-pin       = <0x22>; // P1.02
    nand-miso-pin     = <10>; // P0.10
    nand-hold-pin     = <9>; // P0.09

    led-red-pin       = <4>; // P0.04
    led-blue-pin      = <5>; // P0.05
    led-green-pin     = <6>; // P0.06

    led-debug-pin     = <13>; // P0.13
    devboard-pin      = <3>;  // P0.03, connected to VDD on nRF DK

    charge-pin        = <13>; // P0.13
    
    button-pin        = <8>; // P0.08

    watchdog-sec      = <180>;
    dev-board         = <0>;

    */
  };

  pwmleds {
    pwm_led0: pwm_led_0 {
      pwms = < &pwm0 0x10 >;
    };
  };

};

// reduce memory by 2kb for app settings and ram vault
&sram0_image {
  reg = < 0x20000000 0x6f800 >;
};


&pwm0 {
  ch0-pin = < 0x10 >;
  //ch0-inverted;
};

&spi4 {
  compatible = "nordic,nrf-spim";
  status = "okay";
  sck-pin = <0x24>; // P1.04
  mosi-pin = <24>;  // P0.24
  miso-pin = <10>;  // P0.10 ??
  //dcx-pin = <30>;
  cs-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
};

&i2c1 {
  sda-pin = < 7 >;  // dev board
  scl-pin = < 25 >; // dev board
  
  //sda-pin = < 29 >; // device
  //scl-pin = < 28 >; // device
  
  bme680@38 {
		compatible = "bosch,bme680";
		label = "BME680";
        reg = <0x38>;
  };
};

&qspi {
  status = "disabled";
};
&spi1 {
  status = "disabled";
};
&spi2 {
  status = "disabled";
};
&spi3 {
  status = "disabled";
};

&button1 {
  status = "disabled";
};
&i2c0 {
  status = "disabled";
};
